.instructions {
  margin-bottom: 2rem;

  @media (max-width: $globalMobilePhoneBreakpoint) {
    flex-direction: column;
  }
}

.instructions_title {
  font-size: 1.8rem;
  font-weight: 500;
}

.instructions_right {
  font-size: 1.4rem;
  margin-top: 1rem;
}
